@media only screen and (min-width: 320px) {

	nav {
		background-color: lightblue;
	}
	
	nav a:hover{
		background-color: lightcoral;
	}
	
	nav a{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	body {
		background-color: lightgray;
	}
	
	h1{
		text-align: center;
		color: rgb(37,94,253); 
		text-shadow: 2px 2px 4px #000000;
	}
	
	h5{
		text-align: left;
		color: green;
		padding-left: 40px;
		
	}
	
	article p{
		text-align: left;
		padding-right: 300px;
	}
	
	aside{
		float: none;
		overflow: hidden;
		display: block;
	}
	
	#bioInfo {
		border-radius: 25px;
		border: 2px solid #73AD21;
	   padding: 20px; 
	   width: 90%;
	   height: 150px
	}
	
	#Hobbies ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 90%;
	}
	
	#Skills ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 100%;
	}
	
	li {
	    display: list-item;
	    color: white;
	    text-align: left;
	    text-decoration: none;
	    padding: 14px 16px;
	}
	
	table {
		border: 1px solid green;
		border-collapse: separate;
		width: 90%;
	}
	
	th, td {
		padding: 10px;
		text-align: left;
		
	}
	
	tr:hover{
		background-color: lightblue;
	}
	
	footer{
	font-size: 70%;
	padding: 5px;
	padding-top: 10px;
	border-top-style: hidden;
	text-align: center;
	}
	
	aside a:link ,a:visited
	{
		background-color: green;
		color: white;
		padding: 14px 25px;
      text-align: center;
      display: inline-block;
      width: 100%;
   	
	}
	
	aside a:hover ,a:active{
		background-color: lightgreen;
	}
		aside .pic a{
	background-color: lightgray;
	margin: auto;
	padding: 0px 0px;	
	
	}
}

@media only screen and (min-width: 480px)  {

	nav {
		background-color: lightblue;
	}
	
	nav a:hover{
		background-color: lightcoral;
	}
	
	nav a{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	body {
		background-color: lightgray;
	}
	
	h1{
		text-align: center;
		color: rgb(37,94,253); 
		text-shadow: 2px 2px 4px #000000;
	}
	
	h5{
		text-align: left;
		color: green;
		padding-left: 40px;
		
	}
	
	article p{
		text-align: left;
		padding-right: 300px;
	}
	
	aside{
		float: none;
		overflow: hidden;
		display: block;
	}
	
	#bioInfo {
		border-radius: 25px;
		border: 2px solid #73AD21;
	   padding: 20px; 
	   width: 55%;
	   height: 160px
	}
	
	#Hobbies ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 400px;
	}
	
	#Skills ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 600px;
	}
	
	li {
	    display: list-item;
	    color: white;
	    text-align: left;
	    text-decoration: none;
	    padding: 14px 16px;
	}
	
	table {
		border: 1px solid green;
		border-collapse: separate;
		width: 60%;
	}
	
	th, td {
		padding: 10px;
		text-align: left;
		
	}
	
	tr:hover{
		background-color: lightblue;
	}
	
	footer{
	font-size: 70%;
	padding: 5px;
	padding-top: 10px;
	border-top-style: hidden;
	text-align: center;
	}
	
	aside a:link ,a:visited
	{
		background-color: green;
		color: white;
		padding: 14px 25px;
      text-align: center;
      display: inline-block;
      width: 100%;
   	
	}
	
	aside a:hover ,a:active{
		background-color: lightgreen;
	}
		aside .pic a{
	background-color: lightgray;
	margin: auto;
	padding: 0px 0px;	
	
	}
}


@media only screen and (min-width: 1024px) {

	nav {
		background-color: lightblue;
	}
	
	nav a:hover{
		background-color: lightcoral;
	}
	
	nav a{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	body {
		background-color: lightgray;
	}
	
	h1{
		text-align: center;
		color: rgb(37,94,253); 
		text-shadow: 2px 2px 4px #000000;
	}
	
	h5{
		text-align: left;
		color: green;
		padding-left: 40px;
		
	}
	
	article p{
		text-align: left;
		padding-right: 300px;
	}
	
	aside{
		float: right;
		overflow: hidden;
		display: block;
	}
	
	#bioInfo {
		border-radius: 25px;
		border: 2px solid #73AD21;
	   padding: 20px; 
	   width: 55%;
	   height: 50px
	}
	
	#Hobbies ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 400px;
	}
	
	#Skills ul {
		 border-radius: 25px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	    width: 600px;
	}
	
	li {
	    display: list-item;
	    color: white;
	    text-align: left;
	    text-decoration: none;
	    padding: 14px 16px;
	}
	
	table {
		border: 1px solid green;
		border-collapse: separate;
		width: 60%;
	}
	
	th, td {
		padding: 10px;
		text-align: left;
		
	}
	
	tr:hover{
		background-color: lightblue;
	}
	
	footer{
	font-size: 70%;
	padding: 5px;
	padding-top: 10px;
	border-top-style: hidden;
	text-align: center;
	}
	

	
	aside a:link ,a:visited
	{
		background-color: green;
		color: white;
		padding: 14px 25px;
      text-align: center;
      display: inline-block;
      width: 100%;
   	
	}
	
	aside a:hover ,a:active{
		background-color: lightgreen;	
	}
  aside #pic a{
	background-color: none;	
	}
	
	aside .pic a{
	background-color: lightgray;
	margin: auto;
	padding: 0px 0px;	
	
	}
}