.responsive {
	padding: 2px 2px;
	margin: 2px;
	border: 1px solid #ccc;
	float: left;
	width: 140px;
	height: 140px;
}

img{
	width: 140px;
	height: 140px;
	position: absolute;
}

body{
	background-color: lightgrey;
}

h1{
	color: green;
	text-align: center;
}
.boxInner .title{
	position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   margin: -50px;
	background: lightgray;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;

}

.boxInner:hover .title{
	margin: 0;
}

.boxInner {
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
.boxInner img {
   width: 140px;
   height: 140px;
}

img:hover{
 opacity: 0.3;
 filter: alpha(opacity=30);
 
}

